dash==2.9.3
plotly
yfinance
datetime
Pillow
scipy
dash-bootstrap-components
gunicorn==19.7.1
tensorflow==2.12.0
keras==2.4.0
scikit-learn==0.22.1
numpy==1.26.4
matplotlib==3.1.3
pandas==2.2.2
statsmodels==0.14.2
